@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "tailwindcss";

@layer base {
  html {
    font-family:
      Roboto,
      system-ui,
      -apple-system,
      Segoe UI,
      Arial,
      sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:
      Montserrat,
      system-ui,
      -apple-system,
      Segoe UI,
      Arial,
      sans-serif;
    font-weight: 600;
  }

  body {
    line-height: 1.6;
  }
}

.input {
  @apply w-full rounded-xl border border-gray-200 px-3 py-2 text-sm
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

/* .sx-react-calendar-wrapper {
  @apply w-300 max-w-[100vw] h-200 max-h-[90vh];
} */
